black>=22.1.0
flake8>=5.0.4
pdoc3>=0.8
pytest>=6.0.0
pytest-cov>=2.10.0
setuptools>=63.4.2
snakeviz>=2.1.0
twine>=3.2.0
gradio
opencv-python==4.7.0.72
qdrant-client==1.2.0

#fas 
joblib==1.2.0
scikit-learn==1.2.2

